.app {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0 20px;

    h2 {
        font-family: 'Archivo Black', serif;
        font-weight: normal;
    }
  }

.sm-content {
    width: 1100px;
    margin: 0 auto 60px auto;
}



.inline-card {
    border-radius: 6px;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.12);
    padding: 20px 40px;
    margin: 20px;
    background: #FFF;
}

  
.top-box {
    display: flex;
    min-height: 300px;

    .highlights {
        flex: 1;
        padding-right: 20px;
    }

    .photos {
        flex: 2;
        padding: 20px 40px;
        margin: 20px;
    }
}

.recipe-details {
    display: flex;

    .ingredient-list {
        flex: 1;
        padding-right: 20px;
    }

    .steps {
        flex: 2;
    }
}

.btn-primary {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background: #25D7FF;
}

.primary-image {
    width: 500px;
    margin-bottom: 10px;
}
.secondary-images {
    width: 500px;
    display: flex;

    img {
        margin-right: 10px;
        flex: 1;
        height: 100px;
        object-fit: cover;

        &:last-child {
            margin-right: 0;
        }
    }
}

ul {
    li {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
    }
}

ol {
    max-width: 60%;
    li {
        font-size: 30px;
        margin-bottom: 10px;
        font-family: 'Archivo Black', serif;
        font-weight: normal;

        span {
            font-size: 13px;
            line-height: 20px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}